@model List<Models.Teacher>
@{
    ViewBag.Title = "Teachers";
}

<h2>Преподаватели</h2>
<body>
    <table id="main-table">
        <thead>
            <tr>
                <th>Преподаватель</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.TeacherName</td>
                <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                    @Html.ActionLink("Редактировать", "EditTeacher", new { id = teacher.Id })
                </td>
                <td class="clicable" onclick="this.getElementsByTagName('a')[0].click()">
                    @Html.ActionLink("Удалить", "DeleteTeacher", new { id = teacher.Id })
                </td>
            </tr>
        }

        </tbody>
    </table>
    <script type="text/javascript">
        document.onload = new function () {
            $('#main-table').DataTable(russian_lang);
        };
    </script>
</body>
