@model List<Models.Discipline>
@{
    ViewBag.Title = "LabList";
}
<table id="main-table">
    <thead>
    <tr>
        <th>Специальность</th>
        <th>Дисциплина</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @foreach (var discipline in Model)
    {
        <tr>
            <td>@discipline.SpecialityName</td>
            <td>@discipline.DisciplineName</td>
            <td class="clicable" onclick="this.firstChild.click()">@Html.ActionLink("Перейти к лабораторным", "LabsOnDisciplineList", new {discipline_id = discipline.Id})</td>
        </tr>
    }

    </tbody>
</table>
<script type="text/javascript">
        document.onload = new function ()
        {
            $('#main-table').DataTable(russian_lang);
        }
    </script>